<p>
  <strong>Date:</strong>
  <%= format_date(interval.date) %>
</p>

<p>
  <strong>Time:</strong>
  <%= format_time(interval.time_in) %> - <%= format_time(interval.time_out) %>
</p>

<p>
  <strong>Duration:</strong>
  <%= format_duration(interval.duration) %>
</p>
