<br/>

<%= link_to "< Back to timesheet breakdown", timesheet_intervals_url(timesheet_id: @timesheet.id) %>

<br/>
<br/>

<h1>Viewing interval</h1>

<%= render @interval %>

<% if @editable %>
    <%= link_to "Edit this interval", edit_timesheet_interval_path(timesheet: @timesheet) %>
    <%= button_to 'Destroy interval', [@timesheet, @interval], method: :delete %>
<% else %>
    <strong style="color: red;">Closed for edits</strong>
<% end %>
