<p style="color: green"><%= notice %></p>

<%= link_to "< Back to timesheets", timesheets_path %>

<br/>
<br/>

<%= render @timesheet %>

<div>
  <%= link_to "Show hours breakdown", timesheet_intervals_path(timesheet_id: @timesheet.id)%>
</div>
