<% content_for :below_title do %>
    View all the pay periods and timesheets
<% end %>

<%= link_to "Create pay period", new_pay_period_path %>

<br/>
<br/>

<div id="pay_periods">
  <% @pay_periods.each do |pay_period| %>
    <p>
      <%= link_to pay_period.display_name, pay_period %>
    </p>
  <% end %>
</div>
