<p style="color: green"><%= notice %></p>

<%= link_to "Create pay period", new_pay_period_path %>

<br/>
<br/>

<div id="pay_periods">
  <% @pay_periods.each do |pay_period| %>
    <p>
      <%= link_to "##{pay_period.id}: #{format_date(pay_period.start)} - #{format_date(pay_period.end)}", pay_period %>
    </p>
  <% end %>
</div>
