<p style="color: green"><%= notice %></p>

<div id="pay_periods">
  <% @pay_periods.each do |pay_period| %>
    <%= render pay_period %>
    <p>
      <%= link_to "Show this pay period", pay_period %>
    </p>
  <% end %>
</div>

<%= link_to "New pay period", new_pay_period_path %>
